* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-top: 10px;
}

.text {
  display: flex;
  margin-left: 20px;
}

.country-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;
  gap: 10px;
}

.country-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country-flag {
  width: 45px;
  height: 30px;
}

.country-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.head {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 32px;
  margin-bottom: 30px;
}

.flag {
  width: 100px;
  height: 75px;
}

div > span {
  font-weight: 400;
}
